@{
    ViewBag.Title = "Index.cshtml";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
      
}
@model DotNetQuiz.Models.Question


@section AdditionalScripts{
<script src="@Url.Content("~/Scripts/jquery.tmpl.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.cookie.js")" type="text/javascript"></script>


}
<section id="questionBox">
<div id="question">
</div>

@using (Html.BeginForm())
{
    <div id="answerOptions">

     </div>
    <div id="answerBtnBox">
        <input  id="btnAnswer" type="button" value="Answer" onclick="quiz.AnswerQuestion()" />
    </div>
}
</section>

<section id="answerBox" style="display: none">
<div id="succesBox"></div>
<div id="messageBox"></div>
<div>
<input type="button" id="btnNextQuestion" value="Next question" onclick="quiz.GetQuestion(); "/>
</div>
</section>

@section footer{}

@section scripts
{

<script id="answerOptionsTemplate" type="text/x-jquery-tmpl">

        <div class="answer">
            <input type="radio" value=${Item1} name="Answer" id="Answer"> ${Item2}
        </div>
</script>
<script type="text/javascript">

   
    var quiz = new Quiz();

    $(document).ready(function () {
        quiz.GetQuizStatus();
    });
    


function Quiz()
{
    var quizId;
    var startTime;
    var currentQuestionId;

    var me = this;

    Quiz.prototype.GetQuestion = function () {
        $.ajax({
            url: "Quiz/NextQuestion",
            type: "POST",
            data: quizId,
            dataType: "json",

            success: function (result) {
                me.currentQuestionId = result.QuestionId;
                var answer = $('#answerBox');
                answer.hide();
                var qBox = $('#questionBox');
                qBox.find('#question').text(result.QuestionText);
                var answerOptions = $('#answerOptions');
                answerOptions.empty();
                $('#answerOptionsTemplate').tmpl(result.AnswerOptions).appendTo(answerOptions);

                qBox.show();
            }


        });
    };


    Quiz.prototype.StartNewQuiz = function() {

        $.ajax({
                url: "Quiz/NewQuiz",
                type: "POST",
                datatype: "json",

                success: function(result) {
                    quizId = result.QuizId;
                    me.startTime = result.StartTime;
                    me.GetQuestion();
                }

            });
        };

        Quiz.prototype.GetQuizStatus = function () {

            var id = $.cookie('DotNetQuiz');

            if (id != null) {

                this.quizId = parseInt(id);

                $.ajax({
                    url: "Quiz/QuizStatus",
                    type: "POST",
                    data: { quizId: me.quizId },
                    datatype: "json",
                    success: function (result) {
                        me.startTime = result.StartTime;
                        
                        me.GetQuestion();
                    },
                    failure: function (result) {
                        alert('Could not get Quiz status');
                    }
                });
            } else {
                me.StartNewQuiz();
            }
        };


        Quiz.prototype.AnswerQuestion = function () {

            var answerId = $('.answer input:radio[checked=true]').val();


            $.ajax({
                url: "Quiz/Answer",
                type: "POST",
                data: { question: me.currentQuestionId, answer: parseInt(answerId), quizId: me.quizId },
                dataType: "json",
                success: function (result) {
                    $('#questionBox').hide();
                    var answer = $('#answerBox');
                    if (result.correct == false) {
                        answer.find('#succesBox').text("Answer was incorrect");
                        answer.find('#messageBox').text(result.message);
                    } else {
                        answer.find('#succesBox').text("Answer was correct");
                        answer.find('#messageBox').text(result.message);
                    }
                    answer.show();

                }
            });





        };

}

</script>
}