@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}




<nav id="mainNav">

@Html.ActionLink("Quick quiz","Index","Quiz",null,new {@class="button"})

</nav>




@section footer{
messages
}

@section scripts{} 