@{
    ViewBag.Title = "DotNet Quiz Home";
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}



<ul data-role="listview">

    <li>@Html.ActionLink("Take a quick quiz","Index","Quiz")</li>

</ul>

@section scripts
{}
