@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<nav id="mainNav">

@Html.ActionLink("Quick quiz","Index","Quiz",null,new {@class="button"})

</nav>


@section AdditionalScripts{}

@section footer{
messages
}

@section scripts{} 