header, article, footer {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  width: 100%; }

#main {
  width: 100%;
  background: cyan; }

.button {
  width: 20 px;
  height: 20 px;
  margin: 10px;
  padding: 30px;
  background: black;
  foreground: white; }

.centerbox {
  /* basic styling */
  font-size: 14px;
  border: 1px solid #555;
  background: #CFC;
  /* flexbox, por favor */
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;
  box-orient: horizontal;
  box-pack: center;
  box-align: center; }

#quizBox {
  margin: 10px;
  padding: 10px;
  background: blue; }

#mainNav {
  width: 300px;
  margin: 20px;
  padding: 5px; }

#questionBox {
  width: 300px;
  margin: 20px;
  padding: 5px; }

#answerBox, #question, #answerOptions {
  margin: 10px; }
