@using DotNetQuiz.Areas.Admin.ViewModels
@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    
}

@model QuestionsListViewModel 


@section AdditionalScripts{}


<div id="QuestionsList">

@{
    Html.Telerik().Grid(Model.Questions)
        .Name("QuestionsGrid")
        .DataKeys(dataKeys => dataKeys.Add(c => c.Id))
        .DataBinding(dataBinding => dataBinding.Server().Delete("Delete", "AdminHome"))
        .Columns(columns =>
                     {
                         columns.Bound(o => o.Id).Width(20);
                         columns.Bound(o => o.QuestionText);
                         columns.Command(commands => {
                                                        
                                                         commands.Delete();

                                                     });
                     })
        
         .Editable(editting => editting.Mode(GridEditMode.InLine))
        .Render();
}



</div>

@section footer {}
@section scripts{}
