@using DotNetQuiz.Areas.Admin.ViewModels
@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    
}

@model QuestionsListViewModel 


@section AdditionalScripts{}


<div id="QuestionsList">

@{
    Html.Telerik().Grid(Model.Questions)
        .Name("QuestionsGrid")
        .DataKeys(dataKeys => dataKeys.Add(c => c.Id))
        .Columns(columns =>
                     {
                         columns.Bound(o => o.Id).Width(20);
                         columns.Bound(o => o.QuestionText);
                         columns.Command(commands => commands.Select()).Title("Edit");
                     })
        .DataBinding(dataBinding =>
                         {

                             dataBinding.Ajax().Select("AjaxBinding", "AdminHome");
                         })
        .Selectable()
        .Render();
}



</div>

@section footer {}
@section scripts{}
